$container-padding: 2rem;

$header-backround: #7600ad;
$header-text: #fff;
$header-height: 4rem;
$header-fontsize: 1.75rem;

$scrollbar-track: #fff;
$scrollbar-thumb: #e1e1e1;
$scrollbar-width: 0.5rem;

$item-border: #eeff00;
$item-text: #999;
$item-text-strong: #000;
$item-padding: 0.75rem;
$item-edit-background: #ddd;
$item-edit-text: #666;
$item-edit-width: 2rem;


$menu-background: #7600ad;
$menu-text: #fff;
$menu-height:  $header-height;


$form-item-margin: 0.5rem 0.3rem;
$form-input-border: #999;
$form-input-radius: 0.3rem;
$form-input-padding: 0.5rem;
$form-input-fontsize: 1.2rem;
$form-label-fontsize: 0.8rem;
$form-label-margin-bottom: 0.5rem;
